name: SonarQube
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest   # â† CORREGIDO: SonarCloud solo funciona en Linux

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./BadCleanArch.sln

      - name: Build
        run: dotnet build ./BadCleanArch.sln --no-incremental --configuration Release

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=DianaRamirez1032_ParcialMetricas
            -Dsonar.organization=dianaramirez1032
            -Dsonar.sourceEncoding=UTF-8
